Flask==0.9
Flask-SQLAlchemy==0.16
Flask-WTF==0.8
FormEncode==1.2.6
IMDbPY==5.0
Jinja2==2.6
MarkupSafe==0.23
MySQL-python==1.2.5
SQLAlchemy==0.7.9
SQLObject==1.6.1
Tempita==0.5.2
WTForms==1.0.2
Werkzeug==0.8.3
decorator==3.4.0
itsdangerous==0.24
lxml==3.4.0
omdb==0.2.0
pbr==0.10.0
requests==2.4.3
six==1.8.0
sqlalchemy-migrate==0.9.2
sqlparse==0.1.13
wsgiref==0.1.2
