{% extends "base.html" %}
{% block body %}

<h1>Welcome to Videodrome!
	</h1>
		<h2>The place to explore movies
			</h2>

<div id="Login">
<form method="post" action="/login" id="login">

        <p>If you're a current user, please login.</p>

        <div id="email">
            <p>Email</p>
            <input type="text" name="email">
        </div>

        <div id="pasword">
            <p>Password</p>
            <input type="text" name="password">
        </div>

        <button type="submit" id="submit_button" name="submit">Submit</button> 
</form>

<div id="Sign-up">

        <p>Or would you like to <a href="{{ url_for('sign_up') }}">sign up?</a>

</div>

{% endblock %}