<html>
    <head>
 </head>
    <body>

	<title>Videodrome layout</title>

	<div id="menu_box">
	      <ul>
	        {% if session.get("login", False) %}
	            <li class='user-name'>{{ session["login"] }}</li>
	           	<li><a href="/logout">Log Out</a></li>
	        {% else %}
	            <li><a href="/">Log In</a></li>
	            <li><a href="{{ url_for('sign_up') }}">Sign up</a></li>
	        {% endif %}
	      </ul>
	</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}

    </body>
</html>