{% extends 'base2.html' %}
{% block body %}


<title>Movie Profile {{ movie.title }} ({{ movie.year }})</title>
<div class="container">
  {% if movie.poster %}
      <img src="{{ movie.poster }}" align="right" style="margin-left: 2em; ">
  {% endif %}

  <h1>{{ movie.title }} ({{ movie.year }})</h1>
<!--   <a href="/movie_prof_API?id={{ movie.id }}">Load from OMDB</a>
 -->    {% if avg_rating == 0 %}
    <h3>Videodrome score: N/A</h3>
    {% else %}
    <h3>Videodrome score {{ avg_rating }}</h3>
    {% endif %}
    <ul>
      <li>Released on: {{ movie.year }}</li>
      <li>Running length: {{ movie.runtime }} minutes</li>
      <li>{{ movie.color }}</li>
    </ul>
    <h4>Genre</h4>
      <ul class="genre_list">
        {% for i in movie.genres %}
        <li><a href="/genre_prof?id={{ i.id }}">{{ i.genre }}</a></li>
        {% endfor %}
      </ul>

    <h4>Plot</h4>
    <p class="plot">
      {{ movie.plot }}
    </p>
    <p class="cast">
      <h4>Cast</h4>
      Director: {{ movie.director }}<br/>
      Actors: {{ movie.actors }}
    </p>

    {% if movie.imdbID %}
    <div class="imdb">
      <h4>IMDB</h4>
      <ul>
        <li>IMDB rating: {{ movie.imdbRating }}</li>
        <li>Check <a href="{{ movie.imdbURL }}">it out on IMDB</a></li>
      </ul>
    </div>
    {% endif %}

    {% if movie.tomatoMeter or movie.tomatoUserMeter or movie.tomatoUserRating %}
    <div class="rottenTomatoes">
      <h4>Rotten Tomatoes</h4>
      <ul>
        <li>Tomato Critic Meter: {{ movie.tomatoMeter }}</li>
        <li>Tomato User Meter: {{ movie.tomatoUserMeter }}</li>
        <li>Tomato User Score: {{ movie.tomatoUserRating }}</li>
      </ul>
    </div>
    {% endif %}

  {% if session["user"] %}
      <form action="/add_rating" METHOD="POST" class="rating">
        <h2>Rate this movie now:</h2>
        {% if current_user_rating %}
          {% set user_score = current_user_rating.rating %}
        {% else %}
          {% set user_score = 0 %}
        {% endif %}
        <input type="hidden" name="id" value="{{ movie.id }}">
        <input id="rating-stars" name="star_rating" value="{{user_score}}" type="number" class="rating" min=0 max=5 step="1.0" data-size="xs" data-show-caption="false">

        <div class="review">
          <h3>Review</h3>
          <textarea name="movie_review" rows="3"
          cols="25">{% if current_user_rating %}{{ current_user_rating.review }}{% endif %}</textarea>
        </div>
        <input type="submit" class="btn btn-default btn-sm">
        <br>
        
      </form>
      <br>
      <form action="/add_rating" METHOD="POST">
        <input type="hidden" name="id" value="{{ movie.id }}">
        <input type="submit" name="not_interested" value="Not Interested" class="btn btn-danger">
      </form>


  {% endif %} 


{% if ratings %}
<div>
  <div>
    <h2>Ratings for {{ movie.title }} ({{ movie.year }}):</h2>
  </div>

  <table class="table" style="width:70%">
    {% for rating in ratings %}
    <tr>
      {% if session["user"] %}
      <td><a href="/my_profile">@{{rating.user.username}}</a></td>
      <td>{{ rating.rating }}</td>
      <td>{{ rating.review }}</td>
      {% else %}
      <td><a href="/user_profile?id={{rating.user_id}}">{{rating.user.username}}</a></td>
      <td>{{ rating.rating }}</td>
      <td>{{ rating.review }}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>

</div>
{% endif %}

{% endblock %}
</div>