{% extends 'base2.html' %}
{% block body %}

<title>Movie Profile {{ movie.title }} ({{ movie.year }})</title>
<div class="container">
  {% if movie.poster %}
      <img src="{{ movie.poster }}" align="right" style="margin-left: 2em; ">
  {% endif %}

  <h1>{{ movie.title }} ({{ movie.year }})</h1>
  <a href="/movie_prof_API?id={{ movie.id }}">Load from OMDB</a>
  <h3>Videohaus score {{ avg_rating }}</h3>
    <ul>
      <li>Released on: {{ movie.year }}</li>
      <li>Running length: {{ movie.runtime }} minutes</li>
      <li>{{ movie.color }}</li>
    </ul>
    <h4>Plot</h4>
    <p class="plot">
      {{ movie.plot }}
    </p>
    <p class="cast">
      <h4>Cast</h4>
      Director: {{ movie.director }}<br/>
      Actors: {{ movie.actors }}
    </p>

    {% if movie.imdbID %}
    <div class="imdb">
      <h4>IMDB</h4>
      <ul>
        <li>IMDB rating: {{ movie.imdbRating }}</li>
        <li>Check <a href="{{ movie.imdbURL }}">it out on IMDB</a></li>
      </ul>
    </div>
    {% endif %}

    {% if movie.tomatoMeter or movie.tomatoUserMeter %}
    <div class="rottenTomatoes">
      <h4>Rotten Tomatoes</h4>
      <ul>
        <li>Tomato Critic Meter: {{ movie.tomatoMeter }}</li>
        <li>Tomato User Meter: {{ movie.tomatoUserMeter }}</li>
        <li>Tomato User Score: {{ movie.tomatoUserRating }}</li>
      </ul>
    </div>
    {% endif %}


      <form action="/add_rating" METHOD="POST" class="rating">
        <h2>Rate this movie now:</h2>
        <input type="hidden" name="id" value="{{ movie.id }}">
        <span class="ratingbuttons">Rating</span>
        <input type="radio" name="rating" value="1"><label for="rating1">1</label>
        <input type="radio" name="rating" value="2"><label for="rating2">2</label>
        <input type="radio" name="rating" value="3"><label for="rating3">3</label>
        <input type="radio" name="rating" value="4"><label for="rating4">4</label>
        <input type="radio" name="rating" value="5"><label for="rating5">5</label>

        Movie review
        <textarea name="movie_review" rows="3" cols="25"></textarea>
        <input type="submit">
      </form>


<div class="rating2">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div>

<!-- <div class="rating2">
<form action="/add_rating" METHOD="POST" class="rating">
        <h2>Rate this movie now:</h2>
        <input type="hidden" name="id" value="{{ movie.id }}">
        <span class="ratingbuttons">Rating</span>
        <input type="radio" name="rating" value="1"><label for="rating1">☆</label>
        <input type="radio" name="rating" value="2"><label for="rating2">☆</label>
        <input type="radio" name="rating" value="3"><label for="rating3">☆</label>
        <input type="radio" name="rating" value="4"><label for="rating4">☆</label>
        <input type="radio" name="rating" value="5"><label for="rating5">☆</label>
        <button type="submit">Submit</button>
      </form>
 -->

{% if ratings %}
<div>
  <div>
    <h2>Here are other ratings for {{ movie.title }} ({{ movie.year }}):</h2>
  </div>

  <table class="table" style="width:100%">
    <tr>
      <th>USER ID</th>
      <th>RATING</th>
      <th>Review</th>
    </tr>
    {% for rating in ratings %}
    <tr>
      <td><a href="/user_profile?id={{rating.user_id}}">{{rating.user.username}}</a></td>
      <td>{{ rating.rating }}</td>
      <td>{{ rating.review }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}

{% endblock %}
</div>