{% extends 'base2.html' %}
{% block body %}

<title>Wall</title>
<div class="container user_search">
	<form action="/movie_search" method="GET" class="form-inline">
		<h2>Search for Movie</h2>
      <input type="text" name="title" class="form-control" placeholder="Movie" value="{{ request.args.get('title')|e }}">
      <button class="btn btn-primary btn-sm" type="submit">Search</button>
 	</form>
</div>
<br>
<br>
<div class="container">
  {% if movies or movies2 %}
    {% for movie in movies %}
      {% if movie.poster %}<img src="/static/posters/{{ movie.imdbID }}_95.jpg" align="left" class="smallposter">{% endif %}
        <a href="/movie_prof?id={{ movie.id }}"><font size="3">{{ movie.title|e }} ({{ movie.year }})</font></a>
        <br>
      {% if movie.shortPlot %}<span class="plot">{{ movie.shortPlot|e }}</span>{% endif %}
      <form action="/add_rating" METHOD="POST">
        <input type="hidden" name="id" value="{{ movie.id }}">
        <input type="hidden" name="rating_from_wall" value="{{ movie.id }}">
        <input id="rating-stars" name="star_rating" value="{{user_score}}" type="number" class="rating" min=0 max=5 step="1.0" data-size="xs" data-show-caption="false">
        <input type="submit" value="Rate" class="btn btn-default btn-xs">
        <input type="submit" name="not_interested" value="Not Interested" class="btn btn-default btn-xs">
        <span class="wall_rating"><b>Rotten Tomatoes:</b>{% if movie.tomatoUserRating %} {{ movie.tomatoUserRating }} / 10</span>{% endif %}
        <span class="wall_rating"><b>IMDB:</b>{% if movie.imdbRating %} {{ movie.imdbRating }} / 5</span>{% endif %}</span>
      </form>
        <br>
    {% endfor %}
    
    {% for movie in movies2 %}
      {% if movie not in movies %}
        {% if movie.poster %}<img src="/static/posters/{{ movie.poster }}_95.jpg" align="left" class="smallposter">{% endif %}
        <a href="/movie_prof?id={{ movie.id }}"><font size="3">{{ movie.title|e }} ({{ movie.year }})</font></a>
        <br>
        {% if movie.shortPlot %}<span class="plot">{{ movie.shortPlot|e }}</span>{% endif %}
        <form action="/add_rating" METHOD="POST">
          <input type="hidden" name="id" value="{{ movie.id }}">
          <input id="rating-stars" name="star_rating" value="{{user_score}}" type="number" class="rating" min=0 max=5 step="1.0" data-size="xs" data-show-caption="false">
          <input type="submit" value="Rate" class="btn btn-default btn-xs">
          <input type="submit" name="not_interested" value="Not Interested" class="btn btn-default btn-xs">
          {% if movie.tomatoUserRating %}<span class="wall_rating"><b>Rotten Tomatoes:</b> {{ movie.tomatoUserRating }} / 5</span>{% endif %}
          {% if movie.imdbRating %}<span class="wall_rating"><b>IMDB:</b> {{ movie.imdbRating }} / 10</span>{% endif %}</span>
        </form>
          <br>
      {% endif %}
    {% endfor %}
  {% endif %}
</div>

{% endblock %}