{% extends 'base2.html' %}
{% block body %}

 <title>My Profile</title>
<br><br>
<div class="container-fluid well span6">
  <div class="row-fluid">
      <div class="span2">
          <h3><img src="https://cdn1.iconfinder.com/data/icons/round-black-icons-2/78/user-512.png" class="img-circle" width="60" height="60">  <b>{{ session["user"].username }}'s profile</b></h3>
          <br>
            <h4>Full Name: {{ user.first_name }} {{ user.last_name }}</h4>
            <h4>Email: {{ user.email }}</h4>
            <h4>Age: {{ user.age }}</h4>
            <h4>Gender: {% if user.gender == 0 %} Male {% endif %}
                        {% if user.gender == 1 %} Female {% endif %}
                        {% if user.gender == 2 %} Not specified {% endif %}
            </h4>
            <h4>Number of Ratings: {{ ratings|length }}</h4>
            <a href="/sign_up"><button class="btn btn-primary btn-sm">Update Profile</button></a>
      </div>
  <br>
  <br>  
      <div class="span2">
          {% if ratings %}
          <div>
             <h3>Ratings</h3>
                <table class="table table-bordered" style="width:100%">
          <!--         <tr>
                    <th>Movie</th>
                    <th>Rating</th>
                    <th>REVIEW</th>
                    <th> </th>
                  </tr> -->
                  <tr>
                    {% for rating in ratings %}
                        {% if rating.rating != 0 %}
                      <td><SPAN><a href="/movie_prof?id={{ rating.movie_id }}"> {{ rating.movie.title }} ({{ rating.movie.year }})</a> </SPAN></td>
                      <td><SPAN> {{ rating.rating }} </SPAN></td>  
                      <td><SPAN> {{ rating.review }} </SPAN></td>
                      <td><SPAN><a class="btn btn-default btn-sm" href="/movie_prof?id={{ rating.movie_id }}" role="button">Change rating &raquo;</a>
                  </tr>
                      {% endif %}
                    {% endfor %}
                </table>
          {% endif %}

          {% if user.follows %}
              <h3>Followed users</h3>
              <ul>
                {% for followee in user.follows %}
                  <li><a href="/user_profile?id={{ followee.id }}">{{ followee.username }}</a></li>
                {% endfor %}
              </ul>
          {% endif %}

          {% if user.followers %}
              <h3>Followers</h3>
              <ul>
                {% for follower in user.followers %}
                  <li><a href="/user_profile?id={{ follower.id }}">{{ follower.username }}</a></li>
                {% endfor %}
              </ul>
          {% endif %}
          </div>
        </div>
  </div>
</div>


 {% endblock %}
