{% extends 'base2.html' %}
{% block body %}

 <title>My Profile</title>

<div>
<h2>Here are your profile details, <b>{{ session["user"].username }}.</b></h2>
    <h4>
        Age: {{ user.age }}<br>
        Gender: {{ user.gendername() }}<br>
        Zipcode: {{ user.zipcode }}<br>
        Number of Ratings: {{ ratings|length }}<br>
    </h4>
</div>

<div>
 <h3>Your ratings
 </h3>
    <table class="table" style="width:100%">
    <tr>
      <th>MOVIE</th>
      <th>RATING</th>
    </tr>
    <tr>
      {% for rating in ratings %}  
      <td><SPAN> {{ rating.movie.title }} </SPAN> </td>
      <td><SPAN> {{ rating.rating }} </SPAN> </td>  
    </tr>
      {% endfor %}
</div>      

 {% endblock %}
