{% extends "base2.html" %}
{% block body %}

<h2>Pick your favorite genres</h2>
<br>
<div class="container-fluid">
  	<div class="row">
	   	<form action="/post_genres" METHOD="POST" class="genres">
			{% for genre in genres %}
			<div class="col-md-2">

			    <input type="checkbox" class="checkbox-primary" name="genres" value="{{ genre.id }}"
			    	{% if genre in user.genres %}
			    		checked
			    	{% endif %}>
			    		{{ genre.genre }}
			</div>
			{% endfor %}
	</div>
	<div class="row">
				<button type="submit" class="btn btn-primary">Submit</button>
	</div>
		</form>
</div>


{% endblock %}