{% extends "layout.html" %}
{% block body %}

<h1>Welcome to Videodrome!
	</h1>
		<h2>Please create a profile and start rating movies and adding friends!
			</h2>

<div id="sign_up_form">
<form method='POST' action="/sign_up_form" id="submit_input">

    <div id="email">
        <p>email</p>
        <input type="text" name="email" placeholder="email">
    </div>

    <div id="password">
        <p>password</p>
        <input type="text" name="password" placeholder="password">
    </div>

    <div id="username">
        <p>username</p>
        <input type="text" name="username" placeholder="username">
    </div>

    <div id="first_name">
        <p>first name</p>
        <input type="text" name="first_name" placeholder="first name">
    </div>

     <div id="last_name">
        <p>last name</p>
        <input type="text" name="last_name" placeholder="last name">
    </div>

    <div id="age">
        <p>age</p>
        <input type="text" name="age" placeholder="age">
    </div>

    <div id="gender">
        <p>gender</p>
        <select id="gender" name="gender">
          <option value = 0>male</option>
          <option value = 1>female</option>
          <option value = 2>unspecified</option>
        </select>
    </div>

    <div id="zipcode">
        <p>zipcode</p>
        <input type="text" name="zipcode" placeholder="zipcode">
    </div>
    
    <div>
    <input type="submit" id="submit_input" name="submit"></input> 
    </div>

</form>
</div>
{% endblock %}