{% extends 'base2.html' %}
{% block body %}

<title>Wall</title>
<div class="container">
	<form action="/movie_search" method="GET">
		<h2>Search for a Movie</h2>
        	<input type="text" name="title" placeholder="Movie">
        	<button type="submit">Search</button>
 	</form>

  {% if movies %}
 	<table class="table" style="width:100%">
    <tr>
      <th>MOVIES</th>
      <th>PLOT</th>
    </tr>
    <tr>
      {% for movie in movies %}
      <td><a href="/movie_prof?id={{ movie.id }}">{{ movie.title }} ({{ movie.year }})</a></td>
      <td>{% if movie.shortPlot %}{{ movie.shortPlot }}{% endif %}</td>
    </tr>
      {% endfor %}
      {% for movie in movies2 %}
        {% if movie not in movies %}
          <tr>
            <td><a href="/movie_prof?id={{ movie.id }}">{{ movie.title }} ({{ movie.year }})</a></td>
            <td>{% if movie.shortPlot %}{{ movie.shortPlot }}{% endif %}</td>
          </tr>
        {% endif %}
      {% endfor %}
  </table>
  {% endif %}

<br>

  <div>
    {% if media %}
      <h3>Friend's Recommendations</h3>
      <ul class="movie_listing">
        {% for i, rating in media %}
          <li>
            <a href="/movie_prof?id={{ i.id }}">{{ i.title }} ({{ i.year }})</a>
            <span class="avg_rating">{{ rating }}</span>
            {% if i.shortPlot %}<span class="plot">{{ i.shortPlot|e }}</span>{% endif %}
            <form action="/add_rating" METHOD="POST">
              <input type="hidden" name="id" value="{{ i.id }}">
              <input type="hidden" name="rating_from_wall" value="{{ i.id }}">
              <input type="radio" name="rating" value="1">
              <input type="radio" name="rating" value="2">
              <input type="radio" name="rating" value="3">
              <input type="radio" name="rating" value="4">
              <input type="radio" name="rating" value="5">
              <input type="submit" value="Rate now">
            </form>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
    
  <div>
    {% if genres %}
        <h3>Videodrome Recommendations</h3>
        {% for genre, movies in genres.iteritems() %}
        <h4><a href="/genre_prof?id={{ genre.id }}">{{ genre.genre }}</a></h4>
        <ul class="movie_listing">
          {% for movie in movies %}
          <li>
            <a href="/movie_prof?id={{ movie.id }}">{{ movie.title|e }} ({{ movie.year }})</a>
            {% if movie.shortPlot %}<span class="plot">{{ movie.shortPlot|e }}</span>{% endif %}
            <form action="/add_rating" METHOD="POST">
              <input type="hidden" name="id" value="{{ movie.id }}">
              <input type="hidden" name="rating_from_wall" value="{{ movie.id }}">
              <input type="radio" name="rating" value="1">
              <input type="radio" name="rating" value="2">
              <input type="radio" name="rating" value="3">
              <input type="radio" name="rating" value="4">
              <input type="radio" name="rating" value="5">
              <input type="submit" value="Rate now" class="btn btn-default btn-sm">
            </form>
          </li>
          {% endfor %}
        </ul>
        {% endfor %}
    {% else %}
    {% endif %}
    {% if 'user' in session %}
    <p><a class="btn btn-primary" href="{{ url_for('pick_genres') }}" role="button">Update genres &raquo;</a></p>
    {% else %}
      <p><a href="/sign_up">Sign up now to get recommendations!</a></p>
    {% endif %}
  </div>

</div>
{% endblock %}