{% extends 'base2.html' %}
{% block body %}

<title>Wall</title>

	<form action="/movie_search" method="GET" class="form-inline">
		<h2>Search for a Movie</h2>
        <div class="col-xs-4">
          	<input type="text" name="title" placeholder="Movie" class="form-control">
          	<button type="submit" class="btn btn-primary btn-sm">Search</button>
        </div>
 	</form>
  <br>

  {% if movies %}
 	<table class="table" style="width:100%">
    <tr>
      <th>Movies</th>
      <th>Plot</th>
    </tr>
    <tr>
      {% for movie in movies %}
      <td><a href="/movie_prof?id={{ movie.id }}">{{ movie.title }} ({{ movie.year }})</a></td>
      <td>{% if movie.shortPlot %}{{ movie.shortPlot }}{% endif %}</td>
    </tr>
      {% endfor %}
      {% for movie in movies2 %}
        {% if movie not in movies %}
          <tr>
            <td><a href="/movie_prof?id={{ movie.id }}">{{ movie.title }} ({{ movie.year }})</a></td>
            <td>{% if movie.shortPlot %}{{ movie.shortPlot }}{% endif %}</td>
          </tr>
        {% endif %}
      {% endfor %}
  </table>
  {% endif %}

<br>

  <div>
    {% if media %}
      <h3>Friend's Recommendations</h3>
      <ul class="movie_listing">
        {% for i, rating in media %}
          <li>
            <img src="{{ i.small_poster() }}" align="left" class="smallposter">
            <a href="/movie_prof?id={{ i.id }}"><font size="3">{{ i.title }} ({{ i.year }})</font></a>
            <br>
           
            {% if i.shortPlot %}<span class="plot">{{ i.shortPlot|e }}</span>{% endif %}
            <form action="/add_rating" METHOD="POST">
              <input type="hidden" name="id" value="{{ i.id }}">
              <input type="hidden" name="rating_from_wall" value="{{ i.id }}">
              <input type="radio" name="rating" value="1">
              <input type="radio" name="rating" value="2">
              <input type="radio" name="rating" value="3">
              <input type="radio" name="rating" value="4">
              <input type="radio" name="rating" value="5">
              <input type="submit" value="Rate" class="btn btn-default btn-xs">
              <input type="submit" name="not_interested" value="Not Interested" class="btn btn-default btn-xs">
              <span class="wall_rating" margin-left="5px"><b>Videodrome Rating:</b> {{ rating|round(1, 'common') }} / 5</span>
              <span class="wall_rating"><b>Rotten Tomatoes:</b>{% if i.tomatoUserRating %} {{ i.tomatoUserRating }} / 5</span>{% endif %}
              <span class="wall_rating"><b>IMDB:</b>{% if i.imdbRating %} {{ i.imdbRating }} / 10</span>{% endif %}</span>
            </form>

          </li>
          <br>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
    
  <div>
    {% if genres %}
        <h3>Videodrome Recommendations</h3>
        {% for genre, movies in genres.iteritems() %}
        <h4><a href="/genre_prof?id={{ genre.id }}">{{ genre.genre }}</a></h4>
        <ul class="movie_listing">
          {% for movie in movies %}
          <li>
            {% if movie.poster %}
            <img src="{{ movie.small_poster() }}" align="left" class="smallposter">
            {% endif %}
            <a href="/movie_prof?id={{ movie.id }}"><font size="3">{{ movie.title|e }} ({{ movie.year }})</font></a>
            <br>
            {% if movie.shortPlot %}<span class="plot">{{ movie.shortPlot|e }}</span>{% endif %}
            <form action="/add_rating" METHOD="POST">
              <input type="hidden" name="id" value="{{ movie.id }}">
              <input type="hidden" name="rating_from_wall" value="{{ movie.id }}">
              <input type="radio" name="rating" value="1">
              <input type="radio" name="rating" value="2">
              <input type="radio" name="rating" value="3">
              <input type="radio" name="rating" value="4">
              <input type="radio" name="rating" value="5">
              <input type="submit" value="Rate" class="btn btn-default btn-xs">
              <input type="submit" name="not_interested" value="Not Interested" class="btn btn-default btn-xs">
              <span class="wall_rating"><b>Rotten Tomatoes:</b>{% if movie.tomatoUserRating %} {{ movie.tomatoUserRating }} / 10</span>{% endif %}
              <span class="wall_rating"><b>IMDB:</b>{% if movie.imdbRating %} {{ movie.imdbRating }} / 5</span>{% endif %}</span>
            </form>
            <br>
          </li>
          {% endfor %}
        </ul>
        {% endfor %}
    {% else %}
    {% endif %}
    {% if 'user' in session %}
    <p><a class="btn btn-primary" href="{{ url_for('pick_genres') }}" role="button">Update genres &raquo;</a></p>
    {% else %}
      <p><a href="/sign_up">Sign up now to get recommendations!</a></p>
    {% endif %}
  </div>

</div>
{% endblock %}